.app {
    position: relative;
    z-index: 1;
    overflow: hidden;
    
    @include transition(opacity $change-page-duration, 0s);

    &.hide {
        opacity: 0;
        pointer-events: none;
    }

}
