* {
    -ms-scroll-chaining: none;
    -ms-content-zooming: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    
    @include tab-highlight;

}

div,
body,
html {
    &::-webkit-scrollbar {
        display: none;
    }
}



input,
textarea,
button,
select {
    font-family: $font-family;
}
