html {
    font-size: $font-size;
    font-family: $font-family;

    &.loading {
        cursor: progress !important; /* stylelint-disable-line declaration-no-important */
    
        * {
            cursor: progress !important; /* stylelint-disable-line declaration-no-important */
        }
    
    }
    
    &:not(.use-native-scroll) {
        overflow: hidden;
        body {
            position: fixed;
            width: 100%;
        }
    }
    
}
