html {
    font-size: $font-size;
    font-family: $font-family;
    
    &:not(.use-native-scroll) {
        overflow: hidden;
        body {
            position: fixed;
            width: 100%;
        }
    }
    
}
