html {
    font-size: $font-size;
    font-family: 'Arial';
    user-select: none;
    overflow: hidden;

    --wrap: 4vw;
    --wrap-1: 16vw;
    @include tablet {
        --wrap: 2.5rem;
        --wrap-1: 2.5rem;
    }
    @include mobile {
        --wrap: 1.25rem;
        --wrap-1: 1.25rem;
    }
    
}

body {
    position: fixed;
    width: 100%;
}

* {
    -ms-scroll-chaining: none;
    -ms-content-zooming: none;
    -ms-overflow-style: none;
}

div {
    &::-webkit-scrollbar {
        display: none;
    }
}

input,
textarea {
    font-family: 'Arial';
}
    