a {
    position: relative;
    @include transition(color .35s, 0s);
    color: var(--link-color);
    text-decoration: none;

    &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: var(--link-color);
        @include transition(transform .5s, 0s);
    }

    @include hover {
        color: var(--link-color-hover);

        &:after {
            transform: scale(0, 1);
        }

    }

}
