.text {
    @include text-styles;
}

h1 {
    margin: 0;
    @include text-header-1;
}

h2 {
    margin: 0;
    @include text-header-2;
}

h3 {
    margin: 0;
    @include text-header-3;
}

h4 {
    margin: 0;
    @include text-header-4;
}

h5 {
    margin: 0;
    @include text-header-5;
}

h6 {
    margin: 0;
    @include text-header-6;
}
