.text {
    font-size: .9375rem;
    line-height: 160%;

    p {
        margin: 0;
    }

    img {
        margin: .5rem 0;

        &:not([width]),
        &[width=''],
        &:not([height]) {
            width: 100%;
        }

    }

    blockquote,
    q,
    cite {
        position: relative;
        @include reset-button;
    }

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 4rem;
    margin: 0;
}
