html {

    --wrap: 4vw;
    --wrap-1: 8vw;
    
    @include tablet {
        --wrap: 2.5rem;
        --wrap-1: 5rem;
    }
    @include mobile {
        --wrap: 1.25rem;
        --wrap-1: 1.25rem;
    }

}
