.v-view {
    animation-timing-function: $transition-timing-function;

    &_b {
        opacity: 0;

        &.v-viewed {
            animation-name: viewBottom;
            animation-duration: $view-duration;
            animation-delay: 0s;
            animation-fill-mode: both;
        }

        @keyframes viewBottom {
            from {
                transform: translate3d(0, 2rem, 0);
                opacity: 0;
            }
            to {
                transform: none;
                opacity: 1;
            }
        }

    }

}
