$view-duration: 1.25s;

.v-view {

    &_b {
        opacity: 0;

        &.v-viewed {
            @include transition-animation($view-duration);
            animation-name: viewBottom;
            animation-fill-mode: both;

            @keyframes viewBottom {
                from {
                    transform: translate3d(0, 2rem, 0);
                    opacity: 0;
                }
                to {
                    transform: none;
                    opacity: 1;
                }
            }
            
        }

    }

}
