{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false
            }
        ]
    ],
    "plugins": [
        [
            "transform-imports",
            {
                "vevet": {
                    "transform": "vevet/dist/js/${member}",
                    "preventFullImport": false
                }
            }
        ],
        [
            "@babel/plugin-syntax-dynamic-import"
        ]
    ]
}