Options +FollowSymLinks
RewriteEngine On
RewriteBase /

# redirect resources to webpack's dev server
Redirect 301 /assets http://localhost:8083/assets

# redirect to images
Redirect 301 /image /src/static/image

# index file
DirectoryIndex src/php/index.php

# access php files from /src/php as if they were in the root folder
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)\.php$ src/php/$1.php [L,QSA]