Options +FollowSymLinks
RewriteEngine On
RewriteBase /

# redirect resources to webpack's dev server
Redirect 301 /assets http://localhost:8081/assets

# redirect to content
Redirect 301 /image /src/static/image
Redirect 301 /manifest.webmanifest /src/static/manifest.webmanifest
Redirect 301 /favicon.ico /src/static/favicon.ico
Redirect 301 /offline.html /src/static/offline.html

# index file
DirectoryIndex src/php/index.php

# access php files from /src/php as if they were in the root folder
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)\.php$ src/php/$1.php [L,QSA]