.v-scroll {

    &:not(.unactive) {
        overflow: hidden;
    }

    &.unactive {
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        .v-scroll {
            
            &__container {
                position: static;
            }

            &__scrollbar {
                display: none;
            }

        }

    }

}
