.v-popup_auto {
    z-index: 9999;
    overflow: hidden;

    display: grid;
    align-items: center;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    @include desktop {
        grid-template-columns: 0.33fr;
    }
    @include tablet {
        grid-template-columns: 0.45fr;
    }
    @include mobile {
        grid-template-columns: 0.95fr;
    }

    .v-popup {

        &__overlay {
            position: fixed;
        }

        &__container {
            margin: px-to-rem(60) 0 0;
        }

        &__levels {
            margin-bottom: px-to-rem(60);
        }

    }

}
