.home-page {

    h1 {
        position: relative;
        @include line-top;
        @include line-bottom;
        padding: px-to-rem(20) 0;
    }

    .text {
        margin: px-to-rem(60) 0;
    }

}
