// CSS3 Variables / This mixin is used in /layout/_document.scss
@mixin css-vars() {

    // wrappers
    --wrap: 4vw;
    --wrap-1: 16vw;
    @include tablet {
        --wrap: 2.5rem;
        --wrap-1: 2.5rem;
    }
    @include mobile {
        --wrap: 1.25rem;
        --wrap-1: 1.25rem;
    }

    // colors
    --black: #000;
    --white: #fff;

    // layout colors
    --bg-color: #5F2580;
    --text-color: #fff;

    --link-color: var(--white);
    --link-color-hover: var(--white);

    // layout vars
    --content-padding: 0 0;

    // preloader
    --preloader-bg: var(--white);

}



// Vevet Variables
$prefix: 'v-';

$bg: var(--bg-color);
$color: var(--text-color);

$wrap-padding: 0 var(--wrap);
$wrap-1-padding: 0 var(--wrap-1);

$preloader-bg: var(--preloader-bg);



// Custom

$font-size: 16px;

$afterload-transition: 1s;
$afterload-delay: 0s;

$change-page-duration: .25s;

$view-duration: 1.25s;
