$prefix: 'v-';

$bg: #fff;
$color: #000;

$preloader-bg: #000;



// Custom

$color-anchor: #000;

$font-size: 16px;
$afterload-transition: 1s;
$afterload-delay: 0s;
$show-content-duration: .5s;

$view-duration: 1.75s;

$change-page-elements-duration: .75s;
$change-page-duration: .5s;
