<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>{{subject}}</title>
</head>

<body style="margin: 0;padding: 0;background: #f6f6f6;">
	
	<table style="padding: 40px;width: 100%;background: #f6f6f6;">
		<tr><td>

			<table style="border: 1px solid #f0f0f0;background: #fff;width: 800px;margin: auto; border-collapse: collapse;">
				<tr>
					<td style="padding: 30px 20px; border-bottom: 2px solid #6f6f6f;font-family: 'Arial';color: #111;font-weight: 600;font-size: 20px;line-height: 1.2em;">
						{{subject}}
					</td>
				</tr>
				{% if text is not empty %}
					<tr>
						<td style="padding: 20px; border-bottom: 2px solid #6f6f6f;font-family: 'Arial';color: #111;font-weight: 300;font-size: 16px;line-height: 1.2em;">
							{{text}}
						</td>
					</tr>
				{% endif %}
				<tr>
					<td style="padding: 20px; font-family: 'Arial';color: #111;font-weight: 300;font-size: 16px;line-height: 1.2em;">

						<!-- Inputs -->
						<table style="border-collapse: collapse; width: 100%;">
							{% for key, input in inputs %}
								<tr>
									<td 
										style="padding: 10px; border: 1px solid #ccc; font-weight: 600;"
										{% if input.value is iterable %}
											colspan="2"
										{% endif %}
									>
										{{input.title}}
									</td>
									{% if input.value is not iterable %}
										<td style="padding: 10px; border: 1px solid #ccc;">
											{{input.value}}
										</td>
									{% endif %}
								</tr>
								{% if input.value is iterable %}
									<tr>
										<td style="padding: 20px; border: 1px solid #ccc;" colspan="2">
											<table style="border-collapse: collapse; width: 100%;">
												{% for val in input.value %}
													<tr>
														<td style="padding: 10px; border: 1px solid #ccc; font-weight: 600;">
															{{ val.key }}
														</td>
														<td style="padding: 10px; border: 1px solid #ccc;">
															{{ val.value }}
														</td>
													</tr>
												{% endfor %}
											</table>
										</td>
									</tr>
								{% endif %}
							{% endfor %}
						</table>

					</td>
				</tr>
			</table>
				
		</td></tr>
	</table>

</body>

</html>