@import './_v-scroll-line';

.v-scroll {

    &.custom-scroll {

        &:not(.unactive) {
            overflow: hidden;
        }

        &.unactive {
            position: static;
            overflow: initial;
            -webkit-overflow-scrolling: touch;

            .v-scroll {
            
                &__container {
                    position: static;
                }

                &__scrollbar {
                    display: none;
                }

            }

        }

    }

}

html.v-mobile-device {
    .v-scroll {
        &.v-scroll_dragging {
            & > .v-scroll__container {
                pointer-events: initial !important; /* stylelint-disable-line declaration-no-important */
            }
        } 
    }
}