@mixin hide-overflow-text {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin text-base-styles {
    @include hide-overflow-text();

    * {
        @include reset-first-child-margin;
        @include reset-last-child-margin;
    }

    p {
        margin: 0;
    }

    a {
        text-decoration: underline;

        @include hover {
            text-decoration: none;
        }
        
    }

    blockquote,
    q,
    cite {
        position: relative;
        @include reset-button;
        margin: 0;
        padding-left: px-to-rem(40);
        
        font-style: italic;
        font-weight: normal;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 2px;
            height: 100%;
            background-color: currentColor;
        }

    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }

    ul,
    ol {
        @include reset-ul;

        li {
            list-style-position: inside;

            & + li {
                margin-top: px-to-rem(20);
            }

        }

    }

    ul {
        li {            
            &:before {
                content: '\2022';
                color: currentColor;
                font-weight: bold;
                display: inline-block;
                width: 1rem;
            }
        }
    }

    ol {
        counter-reset: ol-counter;
        li {
            counter-increment: ol-counter;
            &:before {
                content: counter(ol-counter) '. ';
                color: currentColor;
                display: inline-block;
                padding-right: px-to-rem(8);
            }
        }
    }

    .justifyleft {
        text-align: left;
    }
    .justifycenter {
        text-align: center;
    }
    .justifyright {
        text-align: right;
    }
    .justifyfull {
        text-align: justify;
    }

}

@mixin text-spacings-styles {

    p {
        margin: px-to-rem(20) 0;
    }

    img {
        margin: px-to-rem(8) 0;
    }

    blockquote,
    q,
    cite {
        margin: px-to-rem(40) 0;
    }
    
    h1,
    h2,
    h3 {
        margin: px-to-rem(40) 0;    
    }

    h4,
    h5,
    h6 {
        margin: px-to-rem(20) 0;
    }

    ul,
    ol {
        margin: px-to-rem(30);
    }

}

@mixin text-styles {
    @include text-base-styles();
    @include text-spacings-styles();

    font-size: px-to-rem(18);
    @include mobile {
        font-size: px-to-rem(15);
    }

}

.text {
    @include text-styles;
}



@mixin layout-text {
    font-size: px-to-rem(16);
    line-height: px-to-rem(18);
    color: var(--color-layout-text);
}
