@import './ajax-form';

html {

    // form colors
    --form-input-background-color: #eee;
    --form-input-background-error-color: #ffc6c6;
    --form-input-border-color: #aaa;
    --form-input-border-focus-color: #6f6f6f;
    --form-input-border-error-color: #f00;
    --form-input-color: #000;
    --form-input-placeholder-color: #ccc;
    --form-select-background-color: #eee;
    --form-select-border-color: #060;
    --form-select-text-color: #000;
    --form-selected-option-background-color: rgba(255, 255, 255, 0.6);

}
