$bg: var(--color-bg);
$color: var(--color-text);

html {
    
    // colors
    --color-black: #000;
    --color-white: #fff;

    // layout colors
    --color-bg: #fefefe;
    --color-text: #000;
    --color-lazy-image-bg: #3f3f3f;
    --color-link: #000;

}
