$bg: var(--color-bg);
$color: var(--color-text);

@mixin settings-color {
    
    // colors
    --color-black: #000;
    --color-white: #fff;

    // layout colors
    --color-bg: var(--color-white);
    --color-text: var(--color-black);

    --color-link: var(--color-black);

}
