$bg: var(--color-bg);
$color: var(--color-text);

@mixin settings-color {
    
    // colors
    --color-black: #000;
    --color-white: #fff;

    // layout colors
    --color-bg: #5F2580;
    --color-text: #fff;

    --color-link: var(--color-white);
    --color-link-hover: var(--color-white);

}
