@import './colors';
@import './modules';

// Vevet Variables
$prefix: 'v-';

// Site Vars
$font-family: 'Arial';
$font-size: 16px;

$afterload-transition: 1s;
$afterload-delay: 0s;

$view-duration: 1.25s;

$wrap-padding: 0 var(--wrap);
$wrap-1-padding: 0 var(--wrap-1);