.lazy-img,
lazy-img {
    display: block;
    @include absolute(top-left, 12, 12);
    overflow: hidden;

    background-color: var(--color-lazy-image-bg);

    * {
        position: relative;
    }

    img {
        @include absolute(top-left, 12, 12);
        object-fit: cover;
    }

}
